USE [master]
GO
/****** Object:  Database [Soporte12]    Script Date: 16/02/2026 04:46:48 ******/
CREATE DATABASE [Soporte12]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Soporte12', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Soporte12.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Soporte12_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Soporte12_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Soporte12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Soporte12]
GO
/****** Object:  User [root]    Script Date: 16/02/2026 04:46:49 ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [root]
GO
/****** Object:  Table [dbo].[solicitudes]    Script Date: 16/02/2026 04:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes](
	[fecha_actualizacion] [datetime2](6) NULL,
	[fecha_creacion] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[descripcion] [varchar](1000) NOT NULL,
	[estado] [varchar](255) NOT NULL,
	[prioridad] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 16/02/2026 04:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[nombre] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[rol] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_kfsp0s1tflm1cwlj8idhqsad0] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [FK39q1f7eknic500nwureq0bjlq] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [FK39q1f7eknic500nwureq0bjlq]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  (([estado]='CERRADO' OR [estado]='RESUELTO' OR [estado]='EN_PROCESO' OR [estado]='NUEVO'))
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  (([prioridad]='BAJA' OR [prioridad]='MEDIA' OR [prioridad]='ALTA'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([rol]='OPERADOR' OR [rol]='USUARIO'))
GO
USE [master]
GO
